# Petal Inventory Analysis

## Introduction:
### As the lead data analyst for a gardening store chain called Petal Power, our goal is to analyze their inventory data.

#### In this project, we will:
- Examine the inventory to understand the available data.
- Perform specific analyses, such as filtering by location and product type.
- Add useful insights like stock availability and total value.
- Create detailed descriptions for each product to enhance reporting.

###### we import pandas library

In [1]:
import pandas as pd

###### Load the inventory data

In [2]:
inventory = pd.read_csv('petal inventory.csv')

##### Display the first 10 rows of the DataFrame

In [3]:
print(inventory.head(10))

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

#### Select the 'location' column and store it in a variable of yor conveniance. Then we can print it to see the values

In [4]:
location_column = inventory['location']
print(location_column)

0     Staten Island
1     Staten Island
2     Staten Island
3     Staten Island
4     Staten Island
5     Staten Island
6     Staten Island
7     Staten Island
8     Staten Island
9     Staten Island
10         Brooklyn
11         Brooklyn
12         Brooklyn
13         Brooklyn
14         Brooklyn
15         Brooklyn
16         Brooklyn
17         Brooklyn
18         Brooklyn
19         Brooklyn
20           Queens
21           Queens
22           Queens
23           Queens
24           Queens
25           Queens
26           Queens
27           Queens
28           Queens
Name: location, dtype: object

##### If we want to subset and filter the values, we can do it. For instance, just select the Brooklyn values and print just them

In [5]:
brooklyn = inventory[inventory['location'] == 'Brooklyn']
print(brooklyn)

    location  product_type         product_description  quantity  price
10  Brooklyn         seeds                       daisy        50   6.99
11  Brooklyn         seeds                  calla lily         0  19.99
12  Brooklyn         seeds                      tomato         0  13.99
13  Brooklyn  garden tools                        rake        15  13.99
14  Brooklyn  garden tools                 wheelbarrow        82  89.99
15  Brooklyn  garden tools                       spade        36  19.99
16  Brooklyn  pest_control               insect killer        80  12.99
17  Brooklyn  pest_control                 weed killer        76  23.99
18  Brooklyn       planter  20 inch terracotta planter         5  17.99
19  Brooklyn       planter      8 inch plastic planter        26   3.99

Or we can just print the location column

In [6]:
brooklyn_location = inventory.location[inventory['location'] == 'Brooklyn']
print(brooklyn_location)

10    Brooklyn
11    Brooklyn
12    Brooklyn
13    Brooklyn
14    Brooklyn
15    Brooklyn
16    Brooklyn
17    Brooklyn
18    Brooklyn
19    Brooklyn
Name: location, dtype: object

##### We can filter the DataFrame for products in 'Staten Island' and select the 'product_description' column

In [7]:
product_request = inventory[inventory['location'] == 'Staten Island']['product_description']
print(product_request)

0                         daisy
1                    calla lily
2                        tomato
3                          rake
4                   wheelbarrow
5                         spade
6                 insect killer
7                   weed killer
8    20 inch terracotta planter
9        8 inch plastic planter
Name: product_description, dtype: object

##### This is another way to filter and get exactly the same values from before but from a different way of writint the subset

In [8]:
product_request_b = inventory.product_description[inventory['location'] == 'Staten Island']
print(product_request_b)

0                         daisy
1                    calla lily
2                        tomato
3                          rake
4                   wheelbarrow
5                         spade
6                 insect killer
7                   weed killer
8    20 inch terracotta planter
9        8 inch plastic planter
Name: product_description, dtype: object

##### Filter the DataFrame for "seeds" in 'Brooklyn', so we need to use a double filter for our requested subset, thats is why we will use the "&"

In [10]:
seed_request = inventory[(inventory['location'] == 'Brooklyn') & (inventory['product_type'] == 'seeds')]
print(seed_request)

    location product_type product_description  quantity  price
10  Brooklyn        seeds               daisy        50   6.99
11  Brooklyn        seeds          calla lily         0  19.99
12  Brooklyn        seeds              tomato         0  13.99

##### Lets try to Add a new column 'in_stock' based on the 'quantity' column. For this, we will use a lambda function for it

In [11]:
inventory['in_stock'] = inventory['quantity'].apply(lambda x: True if x > 0 else False)
print(inventory)

         location  product_type         product_description  quantity  price  \
0   Staten Island         seeds                       daisy         4   6.99
1   Staten Island         seeds                  calla lily        46  19.99
2   Staten Island         seeds                      tomato        85  13.99
3   Staten Island  garden tools                        rake         4  13.99
4   Staten Island  garden tools                 wheelbarrow         0  89.99
5   Staten Island  garden tools                       spade        93  19.99
6   Staten Island  pest_control               insect killer        74  12.99
7   Staten Island  pest_control                 weed killer         8  23.99
8   Staten Island       planter  20 inch terracotta planter         0  17.99
9   Staten Island       planter      8 inch plastic planter        53   3.99
10       Brooklyn         seeds                       daisy        50   6.99
11       Brooklyn         seeds                  calla lily         0  19.99
12       Brooklyn         seeds                      tomato         0  13.99
13       Brooklyn  garden tools                        rake        15  13.99
14       Brooklyn  garden tools                 wheelbarrow        82  89.99
15       Brooklyn  garden tools                       spade        36  19.99
16       Brooklyn  pest_control               insect killer        80  12.99
17       Brooklyn  pest_control                 weed killer        76  23.99
18       Brooklyn       planter  20 inch terracotta planter         5  17.99
19       Brooklyn       planter      8 inch plastic planter        26   3.99
20         Queens         seeds                       daisy        57   6.99
21         Queens         seeds                  calla lily        95  19.99
22         Queens         seeds                      tomato        45  13.99
23         Queens  garden tools                        rake        21  13.99
24         Queens  garden tools                 wheelbarrow        98  89.99
25         Queens  garden tools                       spade        26  19.99
26         Queens  pest_control               insect killer         0  12.99
27         Queens  pest_control                 weed killer        16  23.99
28         Queens       planter  20 inch terracotta planter        87  17.99

    in_stock
0       True
1       True
2       True
3       True
4      False
5       True
6       True
7       True
8      False
9       True
10      True
11     False
12     False
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21      True
22      True
23      True
24      True
25      True
26     False
27      True
28      True

##### Now lets examine the columns we have.

In [12]:
print(inventory.columns)

Index(['location', 'product_type', 'product_description', 'quantity', 'price',
       'in_stock'],
      dtype='object')

###### Ans yes, we see out new column "in stock" already created

##### Now, add a new column 'total_value' to calculate total value of each item, wich would be the product between the columns of price and quantity

In [13]:
inventory['total_value'] = inventory['price'] * inventory['quantity']
print(inventory)

         location  product_type         product_description  quantity  price  \
0   Staten Island         seeds                       daisy         4   6.99
1   Staten Island         seeds                  calla lily        46  19.99
2   Staten Island         seeds                      tomato        85  13.99
3   Staten Island  garden tools                        rake         4  13.99
4   Staten Island  garden tools                 wheelbarrow         0  89.99
5   Staten Island  garden tools                       spade        93  19.99
6   Staten Island  pest_control               insect killer        74  12.99
7   Staten Island  pest_control                 weed killer         8  23.99
8   Staten Island       planter  20 inch terracotta planter         0  17.99
9   Staten Island       planter      8 inch plastic planter        53   3.99
10       Brooklyn         seeds                       daisy        50   6.99
11       Brooklyn         seeds                  calla lily         0  19.99
12       Brooklyn         seeds                      tomato         0  13.99
13       Brooklyn  garden tools                        rake        15  13.99
14       Brooklyn  garden tools                 wheelbarrow        82  89.99
15       Brooklyn  garden tools                       spade        36  19.99
16       Brooklyn  pest_control               insect killer        80  12.99
17       Brooklyn  pest_control                 weed killer        76  23.99
18       Brooklyn       planter  20 inch terracotta planter         5  17.99
19       Brooklyn       planter      8 inch plastic planter        26   3.99
20         Queens         seeds                       daisy        57   6.99
21         Queens         seeds                  calla lily        95  19.99
22         Queens         seeds                      tomato        45  13.99
23         Queens  garden tools                        rake        21  13.99
24         Queens  garden tools                 wheelbarrow        98  89.99
25         Queens  garden tools                       spade        26  19.99
26         Queens  pest_control               insect killer         0  12.99
27         Queens  pest_control                 weed killer        16  23.99
28         Queens       planter  20 inch terracotta planter        87  17.99

    in_stock  total_value
0       True        27.96
1       True       919.54
2       True      1189.15
3       True        55.96
4      False         0.00
5       True      1859.07
6       True       961.26
7       True       191.92
8      False         0.00
9       True       211.47
10      True       349.50
11     False         0.00
12     False         0.00
13      True       209.85
14      True      7379.18
15      True       719.64
16      True      1039.20
17      True      1823.24
18      True        89.95
19      True       103.74
20      True       398.43
21      True      1899.05
22      True       629.55
23      True       293.79
24      True      8819.02
25      True       519.74
26     False         0.00
27      True       383.84
28      True      1565.13

##### For last, we will use again lambda function to generate a full descrption

In [15]:
combine_lambda = lambda row: f"{row['product_type']} - {row['product_description']}"

##### Now we apply the lambda function to each row to create the 'full_description' column

In [17]:
inventory['full_description'] = inventory.apply(combine_lambda, axis=1)
print(inventory)

         location  product_type         product_description  quantity  price  \
0   Staten Island         seeds                       daisy         4   6.99
1   Staten Island         seeds                  calla lily        46  19.99
2   Staten Island         seeds                      tomato        85  13.99
3   Staten Island  garden tools                        rake         4  13.99
4   Staten Island  garden tools                 wheelbarrow         0  89.99
5   Staten Island  garden tools                       spade        93  19.99
6   Staten Island  pest_control               insect killer        74  12.99
7   Staten Island  pest_control                 weed killer         8  23.99
8   Staten Island       planter  20 inch terracotta planter         0  17.99
9   Staten Island       planter      8 inch plastic planter        53   3.99
10       Brooklyn         seeds                       daisy        50   6.99
11       Brooklyn         seeds                  calla lily         0  19.99
12       Brooklyn         seeds                      tomato         0  13.99
13       Brooklyn  garden tools                        rake        15  13.99
14       Brooklyn  garden tools                 wheelbarrow        82  89.99
15       Brooklyn  garden tools                       spade        36  19.99
16       Brooklyn  pest_control               insect killer        80  12.99
17       Brooklyn  pest_control                 weed killer        76  23.99
18       Brooklyn       planter  20 inch terracotta planter         5  17.99
19       Brooklyn       planter      8 inch plastic planter        26   3.99
20         Queens         seeds                       daisy        57   6.99
21         Queens         seeds                  calla lily        95  19.99
22         Queens         seeds                      tomato        45  13.99
23         Queens  garden tools                        rake        21  13.99
24         Queens  garden tools                 wheelbarrow        98  89.99
25         Queens  garden tools                       spade        26  19.99
26         Queens  pest_control               insect killer         0  12.99
27         Queens  pest_control                 weed killer        16  23.99
28         Queens       planter  20 inch terracotta planter        87  17.99

    in_stock  total_value                      full_description
0       True        27.96                         seeds - daisy
1       True       919.54                    seeds - calla lily
2       True      1189.15                        seeds - tomato
3       True        55.96                   garden tools - rake
4      False         0.00            garden tools - wheelbarrow
5       True      1859.07                  garden tools - spade
6       True       961.26          pest_control - insect killer
7       True       191.92            pest_control - weed killer
8      False         0.00  planter - 20 inch terracotta planter
9       True       211.47      planter - 8 inch plastic planter
10      True       349.50                         seeds - daisy
11     False         0.00                    seeds - calla lily
12     False         0.00                        seeds - tomato
13      True       209.85                   garden tools - rake
14      True      7379.18            garden tools - wheelbarrow
15      True       719.64                  garden tools - spade
16      True      1039.20          pest_control - insect killer
17      True      1823.24            pest_control - weed killer
18      True        89.95  planter - 20 inch terracotta planter
19      True       103.74      planter - 8 inch plastic planter
20      True       398.43                         seeds - daisy
21      True      1899.05                    seeds - calla lily
22      True       629.55                        seeds - tomato
23      True       293.79                   garden tools - rake
24      True      8819.02            garden tools - wheelbarrow
25      True       519.74                  garden tools - spade
26     False         0.00          pest_control - insect killer
27      True       383.84            pest_control - weed killer
28      True      1565.13  planter - 20 inch terracotta planter